.background{
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5em 6em;
  gap: 2.5em;
}

.tbb-container{
  background-color: var(--nyanza);
  border: var(--dark-green) solid 2px;
  border-radius: 10px;
  position: relative;
  aspect-ratio: 3/2;
  height: 150px;
  width: 225px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: var(--dark-green);
  box-shadow: rgba(0, 0, 0, 0.27) 0 9px 7px 5px;
  align-items: stretch;
  h3{
    padding: 10px;
    font-size: 1.5em;
    border-bottom: var(--dark-green) solid 2px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.table-looking-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  div{
    border: var(--dark-green) solid 1px;
  }
  div:nth-child(even){
    border-right: unset;
  }
  div:nth-child(odd){
    border-left: unset;
  }
  div:nth-child(1), div:nth-child(2){
    border-top: unset;
  }
  div:nth-last-child(1), div:nth-last-child(2){
    border-bottom: unset;
  }
}

.add-table-btn{
  aspect-ratio: 3/2;
  width: 225px;
  background-color: var(--fern-green);
  border: var(--nyanza) solid 2px;
  border-radius: 10px;
  color: white;
  font-size: 3em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.27) 0 9px 7px 5px;
}

.create-api-key-btn{
  background-color: var(--dark-green);
  border: var(--nyanza) solid 2px;
  border-radius: 10px;
  color: var(--nyanza);
  padding: 8px 30px;
  font-size: 1em;
  font-weight: 200;
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  left: 15px;
}

.custom-column{
  color: var(--nyanza);
  gap: 20px;
}

.submit-btn{
  background-color: unset;
  color: var(--nyanza);
  border: var(--nyanza) solid 2px;
  font-size: 1.2em;
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 100ms, color 100ms;
}

.submit-btn:hover{
  background-color: var(--nyanza);
  color: var(--fern-green);
}