.background{
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.container{
  display: grid;
  padding: 5em 3em;
  grid-template-columns: repeat(auto-fill, calc(330px + 2.5em));
  grid-auto-rows: 45px;
  min-width: 370px;
  margin: 0 auto;
}

.column-background{
  background-color: var(--nyanza);
  border: var(--dark-green) solid 2px;
  border-radius: 10px;
  position: relative;
  --column-width: 330px;
  width: var(--column-width);
  box-shadow: rgba(0, 0, 0, 0.27) 0 9px 7px 5px;
  height: fit-content;
  margin-right: 2.5em;
  margin-bottom: 45px;
}

.column-info-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  max-width: 100%;
  *{
    border: var(--dark-green) solid 1px;
    height: 45px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: calc(var(--column-width)/2);
  }
  *:nth-child(odd){
    border-left: unset;
  }
  *:nth-child(even){
    border-right: unset;
  }
  *:nth-child(1), *:nth-child(2){
    border-top: unset;
  }
  *:nth-last-child(1), *:nth-last-child(2){
    border-bottom: unset;
  }
  *:nth-last-child(1){
    border-bottom-right-radius: 10px;
  }
  *:nth-last-child(2){
    border-bottom-left-radius: 10px;
  }
}

.add-column-btn{
  display: flex;
  color: var(--dark-green);
  justify-content: center;
  align-items: center;
  font-size:7em;
  background-color: var(--nyanza);
  border: var(--dark-green) solid 2px;
  border-radius: 10px;
  width: 330px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.27) 0 9px 7px 5px;
  max-height: 186.666px;
  grid-row-end: span 5;
}
