* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

input, select, select > option{
  color: #000;
}

.btn{
  padding: 5px;
  border-radius: 0.375rem;
  border-width: 1px;
  text-decoration: none;
  color:buttontext;
  display: inline-block;
  text-align: center;
  border-color: buttonborder;
  background-color: buttonface;
  border-style: outset;
  font-size: 0.9rem;
  cursor: pointer;
  color: #000;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 6px;
}

.column-table{
  width: 100%;
  background-color: rgb(194, 194, 194);
  margin-top: 10px;
}

.mask{
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.btn-remove{
  position: absolute;
  color: #000;
  z-index: 1;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  min-height: 29px;
  cursor: pointer;
  color: white;
  background-color: #ff0000;
  border: none;
  font-weight: bolder;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-remove:hover{
  background-color: #ff3e3e;
}