.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container{
  background-color: var(--fern-green);
  border: var(--nyanza) solid 2px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px 25px;
  max-height: 70%;
  border-radius: 25px;
  position: relative;
}

.close-btn{
  position: absolute;
  width: 60px;
  top: -30px;
  right: -30px;
  color: white;
  font-size: 2.3em;
  cursor: pointer;
}

.dalert-container{
  display: flex;
  flex-direction: column;
  color: var(--nyanza);
  gap: 13px;
}

.dalert-body{
  background-color: var(--dark-green);
  padding: 10px;
  border-radius: 10px;
  white-space: pre-line;
  max-height: 350px;
  word-wrap: break-word;
  div{
    overflow-y: auto;
    max-height: 350px;
  }
}

.dalert-button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 4em;
  box-sizing: border-box;
  padding: 0 15px;
  height: 2em;
  background-color: var(--fern-green);
  border: var(--nyanza) solid 2px;
  color: var(--nyanza);
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 100ms, boder 100ms, color 100ms;
}
.dalert-button:hover{
  background-color: var(--nyanza);
  border: var(--black-olive) solid 2px;
  color: var(--black-olive);
}

.dalert-button-container{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  padding: 0 1em;
}