.input{
  background-color: var(--nyanza);
  border: var(--sage) solid 2px;
  border-radius: 9px;
  height: 2.7em;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  font-family: Inter;
  padding: 15px;
  color:black;
}